{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{ user }}{% endblock head_title %}

{% block contenuti %}

<!-- https://getbootstrap.com/docs/4.4/components/card/ -->

    <div class="row">
        <div class="col-4">
            <div class="card my-2">
                <div class="card-header">
                    <h4>{% if request.user == user %}Il tuo {% endif %}profilo Utente</h4>
                </div>
                <div class="card-body">
                    <p class="lead">@{{ user }}</p>
                    <p class="mb-0">Iscrizione: {{ user.date_joined|date:"d M Y" }}</p>
                    <p class="mb-0">Post: {{ user.post.count }}</p>
                    <p class="mb-0">Commenti: {{ user.comment.count }}</p>
                    <p class="mb-0">Punti: {{ punti_utente.punti__sum }}</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-8">
            <div class="card my-2">
                <div class="card-header">
                    <h4>Post ({{ user.post.count }})</h4>
                </div>
                <div class="card-body">
                    {% for post in post_utente %}
                        <p><strong> Titolo: </strong> <a href="{% url 'blog:leggi_post' pk=post.pk%}">{{ post.titolo }}</a>
                            <br>{{ post.contenuto }}
                            <br>{{ post.data_creazione }}
                            <br>Stato : 
                            {% if post.bozza == True %}
                            Bozza
                            {% else %}
                            Pubblicato
                            {% endif %}
                        </p>
                    {% empty %}
                        {% if request.user != user %}
                            <p>{{ user }} non ha creato alcun post!</p>
                        {% else %}
                            <p>Non hai creato alcun post! <a href="{% url 'blog:crea_post'%}">Inizia Subito!</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
            <div class="card my-2">
                <div class="card-header">
                    <h4>Commenti ({{ commenti_utente.count }}) </h4>
                </div>
                <div class="card-body">
                    {% for commento in commenti_utente %}
                        <br>{{ forloop.counter}}) {{ commento.contenuto }}
                            <br>{{ commento.data_creazione }}
                            <br>Punti:{{ commento.punti }}
                            <br>Stato : 
                            {% if commento.attivo == True %}
                            Attivo
                            {% else %}
                            Disattivo
                            {% endif %}
                            <br><a href="{% url 'blog:leggi_post' pk=commento.post.pk%}"> -> vai alla discussione</a>
                        </p>
                        <hr>
                    {% empty %}
                        {% if request.user != user %}
                            <p>{{ user }} non ha creato alcun commento!</p>
                        {% else %}
                            <p>Non hai creato alcun commento! </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>


{% endblock contenuti %}
