{% extends 'base.html' %}
 
{% block contenuti %}
    <h4><a href="/blog">Posts:</a></h4>
    {% for post in posts %}
        <p><strong>Titolo: </strong><a href="{{post.get_absolute_url}}">{{ post.titolo }}</a></p>
        <!-- 
        <p><strong>Titolo: </strong><a href="/blog/leggi-post/{{post.id }}">{{ post.titolo }}</a></p>
        <p><strong>Contenuto: </strong>{{ post.contenuto }}</p>
        <p><strong>Bozza: </strong>{{ post.bozza }}</p>
        --> 
        <hr>
    {% endfor %}

{% endblock contenuti %}
