{% extends 'base.html'%}
{% load crispy_forms_tags %}
{%block contenuti%}
        <div class="container">
            <h4>Modifica il Tuo Post!</h4>
            <form method="post" class="bootstrap4">
                {% csrf_token %}
                {{ form|crispy }}
               
                <a href='/blog/elimina-post/{{pk}}'>
                    <input type="button" class="btn btn-danger" value="ELIMINA">
                </a>  
                <input type="submit" class="btn btn-primary" value="MODIFICA">
            </form>
        </div>
{%endblock contenuti%}   