{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}{{ post.title }}{% endblock head_title%}

{% block contenuti %}
<h4>Titolo:</h4>
<p>{{post.titolo}}</p>
<h4>Contenuto:</h4>
<p>{{post.contenuto}}</p> 
<p><b>Pubblicato da :</b> <a href="{% url 'user_profile' username=post.autore %}">{{post.autore}}</a> {{post.data_creazione}} </p> 
{% if request.user == post.autore %}
    <a href="{% url 'blog:modifica_post' pk=post.id %}">  
    <input type="submit" value="MODIFICA" class="btn btn-danger my-2" value="MODIFICA">
    </a>
{% else %}
<p>Non sei l'autore del post non puoi modificarlo</p>
{% endif %}
  
  
<br><hr>
  {% with comments.count as total_comments %}
    <h4>
      Commenti : {{ total_comments }}
    </h4>
  {% endwith %}
  <hr>
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        {{ comment.contenuto|linebreaks }}
      </p>
      Comment {{ forloop.counter }} by {{ comment.autore }}
      {{ comment.data_creazione }}
     
    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
  {% if new_comment %}
    <br><h4>Your comment has been added.</h4>
  {% else %}
  <br>
    <h4>Add a new comment</h4>
    <form method="post">
      {{ comment_form|crispy }}
      {% csrf_token %}
      <p><input type="submit" class="btn" value="Add comment"></p>
    </form>
  {% endif %}
{% endblock contenuti %}
