{% extends 'base.html' %}
{% block contenuti %}
 <h4>Titolo:</h4>
<p>{{object.titolo}}</p>
<h4>Contenuto:</h4>
<p>{{object.contenuto}}</p> 
<p><b>Pubblicato da :</b> <a href="{% url 'user_profile' username=object.autore %}">{{object.autore}}</a> {{object.data_creazione}} </p> 
{% if user == object.autore %}
    <a href="{% url 'blog:modifica_post' pk=object.id %}">  
    <input type="submit" value="MODIFICA" class="btn btn-danger" value="MODIFICA">
    </a>
{% else %}
<p>Non sei l'autore del post non puoi modificarlo</p>
{% endif %}




{% endblock contenuti %}
